.version.____1 /* version checker */
{
	color: #0000FC;
	background-color: #C53763;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -198px;
	padding-top: 23px;
	width: 0.01px;
}

#u1234-4
{
	z-index: 56;
	width: 159px;
	min-height: 34px;
	margin-left: 30px;
}

#u1235
{
	z-index: 60;
	width: 1020px;
	height: 1px;
	margin-top: 4px;
}

#u1473-4
{
	z-index: 61;
	width: 365px;
	min-height: 20px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
}

#u1473-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 365px;
	margin: 20px 0px 0px 30px;
}

#u1475
{
	z-index: 69;
	width: 960px;
	background-color: #F6F6F6;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#pu1476-10
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 20px;
}

#u1476-10
{
	z-index: 70;
	width: 486px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
}

#u1476-2
{
	color: #C4C4C4;
}

#u1476-3
{
	color: #999999;
}

#buttonu1499
{
	z-index: 95;
	width: 153px;
	border-color: #787878;
	background-color: #ED7B5C;
	border-radius: 10px;
	padding-bottom: 13px;
	margin-top: 20px;
	position: relative;
}

#buttonu1499:hover
{
	background-color: #F87B5C;
	width: 153px;
	min-height: 0px;
	margin: 20px 0px 0px;
}

#u1501-4
{
	z-index: 96;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 17px;
}

#buttonu1499:hover #u1501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu1499.ButtonSelected #u1501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 14px -10000px 0px 0px;
}

#buttonu1499:hover #u1501-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1477
{
	z-index: 80;
	width: 1px;
	height: 146px;
	background-color: #E2E2E2;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 659px;
}

#pu1478-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 738px;
}

#u1478-4
{
	z-index: 81;
	width: 156px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
}

#u1479
{
	z-index: 89;
	width: 75px;
	background-color: transparent;
	margin-left: 41px;
	margin-top: 10px;
	position: relative;
}

#u1486-4
{
	z-index: 85;
	width: 134px;
	min-height: 25px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 11px;
	position: relative;
}

#u1487
{
	z-index: 91;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 823px;
}

#u1493
{
	z-index: 93;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 858px;
}

#pu1475,#pu1502
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u1502
{
	z-index: 100;
	width: 2px;
	height: 30px;
	background-color: #ED7B5C;
	position: relative;
	margin-right: -10000px;
}

#u1504-4
{
	z-index: 65;
	width: 60px;
	min-height: 15px;
	background-color: transparent;
	font-size: 14px;
	color: #999999;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 12px;
}

#u1504-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 60px;
	margin: 6px -10000px 0px 0px;
}

#u1473-4:hover p,#u1504-4:hover p
{
	font-size: 18px;
}

#pu1506-77
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 13px;
}

#u1506-77
{
	z-index: 101;
	width: 948px;
	background-color: transparent;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
}

#u1506-10
{
	color: #ED7B5C;
}

#u1506-6,#u1506-16
{
	line-height: 20px;
	color: #ED7B5C;
}

#u1506-2,#u1506-4,#u1506-8,#u1506-12,#u1506-14,#u1506-18,#u1506-20,#u1506-21
{
	color: #333333;
}

#u1506-23,#u1506-24,#u1506-26
{
	font-size: 18px;
	line-height: 25px;
	color: #ED7B5C;
}

#u1506-27
{
	font-size: 14px;
	line-height: 20px;
	color: #ED7B5C;
}

#u1506-29,#u1506-31,#u1506-33,#u1506-34,#u1506-36,#u1506-38,#u1506-40,#u1506-42,#u1506-44,#u1506-45,#u1506-47,#u1506-49,#u1506-51,#u1506-53,#u1506-55,#u1506-57,#u1506-59,#u1506-61,#u1506-63,#u1506-64,#u1506-66,#u1506-68,#u1506-70,#u1506-72,#u1506-74,#u1506-75
{
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

#u1507
{
	z-index: 178;
	width: 603px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 793px;
	left: 172px;
}

#pu1203
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 40px;
}

#u1203
{
	z-index: 2;
	min-height: 207px;
	padding-bottom: 53px;
}

#u1203_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#pu1204-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 144px;
}

#u1204-4
{
	z-index: 3;
	width: 234px;
	min-height: 29px;
}

#ppu1215
{
	width: 0.01px;
	margin-top: 23px;
}

#pu1215
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1215
{
	z-index: 44;
	width: 12px;
}

#u1217
{
	z-index: 46;
	width: 14px;
	margin-top: 19px;
}

#u1217_img
{
	padding-right: 1px;
}

#u1219
{
	z-index: 48;
	width: 12px;
	margin-top: 19px;
}

#u1208-8
{
	z-index: 18;
	width: 244px;
	min-height: 121px;
	margin-right: -10000px;
	left: 23px;
}

#pu1205-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 492px;
}

#u1205-4
{
	z-index: 7;
	width: 153px;
	min-height: 29px;
}

#u1214-6
{
	z-index: 38;
	width: 153px;
	min-height: 95px;
	margin-top: 23px;
}

#pu1206-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 699px;
}

#u1206-4
{
	z-index: 11;
	width: 153px;
	min-height: 29px;
}

#u1209-3
{
	z-index: 26;
	width: 153px;
	min-height: 121px;
	margin-top: 23px;
}

#pu1207-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 924px;
}

#u1207-3
{
	z-index: 15;
	width: 153px;
	min-height: 29px;
}

#u1210-6
{
	z-index: 29;
	width: 153px;
	min-height: 95px;
	margin-top: 23px;
}

#u1211
{
	margin-top: 5px;
	margin-bottom: -5px;
}

#u1212
{
	z-index: 35;
	width: 37px;
}

#u1203-bw
{
	z-index: 2;
	min-height: 207px;
}

#u1221
{
	z-index: 50;
	width: 61px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 708px;
}

#u1223
{
	z-index: 52;
	width: 61px;
	margin-right: -10000px;
	margin-top: 126px;
	left: 708px;
}

#u1225
{
	z-index: 54;
	width: 64px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 708px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-bottom: 197px;
}

#page .verticalspacer
{
	clear: both;
}

