#u1234-4
{
	background-color: transparent;
	line-height: 29px;
	color: #ED7B5C;
	font-size: 24px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1235
{
	background-color: #ED7B5C;
	position: relative;
}

#u1203
{
	border-color: #000000;
	background-color: #252525;
}

#u1203_align_to_page
{
	position: relative;
}

#u1206-4
{
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1209-3
{
	background-color: transparent;
	color: #B5B5B5;
	font-size: 13px;
	line-height: 29px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1204-4,#u1205-4,#u1207-3
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1208-8,#u1214-6,#u1210-6
{
	background-color: transparent;
	line-height: 29px;
	color: #B5B5B5;
	font-size: 13px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1212
{
	background-color: transparent;
}

#u1212_img
{
	vertical-align: bottom;
}

#u1215,#u1217,#u1219,#u1221,#u1223,#u1225
{
	background-color: transparent;
	position: relative;
}

